<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="insert" parameterType="Dish" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, create_time, create_user, update_time, update_user, status)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser}, #{status})
    </insert>

    <select id="pageQuery" parameterType="com.sky.dto.DishPageQueryDTO" resultType="com.sky.vo.DishVO">
        select d.*, c.name as categoryName
        from dish d
        left join category c on d.category_id = c.id
        <where>
            <if test="name != null">
                d.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from dish where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <update id="update" parameterType="Dish">
        update dish
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="categoryId != null">category_id=#{categoryId},</if>
            <if test="price != null">price=#{price},</if>
            <if test="image != null">image=#{image},</if>
            <if test="description != null">description=#{description},</if>
            <if test="status != null">status=#{status},</if>
        </set>
        where id=#{id}
    </update>

</mapper>
