<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in
        <foreach collection="dishIds" item="dishId" open="(" close=")" separator=",">
            #{dishId}
        </foreach>
    </select>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into setmeal_dish(setmeal_id, dish_id, number, price)
        values
        <foreach collection="setmealDishes" item="setmealDish" separator=",">
            (#{setmealDish.setmealId}, #{setmealDish.dishId}, #{setmealDish.number}, #{setmealDish.price})
        </foreach>
    </insert>
<!--collection="setmealDishes"，这里的setmealDishes是传进来的参数名。这里就是foreach的遍历对象    -->
</mapper>
